In [13]:
import pandas as pd

# Define the correct column names for the database schema information
column_names = [
    'table_schema',
    'table_name', 
    'table_description',
    'column_name',
    'data_type',
    'max_length',
    'precision',
    'scale',
    'is_nullable',
    'column_default',
    'is_primary_key',
    'is_foreign_key',
    'referenced_schema',
    'referenced_table',
    'referenced_column',
    'column_description'
]

# Read the tab-separated file
test = pd.read_csv("/Users/krahman/LLM-to-SQL-experiment/attwln_dbo_schem.txt", 
                   sep="\t", 
                   names=column_names,
                   header=None)

print("Dataset shape:", test.shape)
print("\nFirst 5 rows:")
print(test.head())
print("\nColumn info:")
print(test.info())

Dataset shape: (5556, 16)

First 5 rows:
  table_schema               table_name  table_description  \
0          dbo  BlockedMergeReportDaily                NaN
1          dbo  BlockedMergeReportDaily                NaN
2          dbo  BlockedMergeReportDaily                NaN
3          dbo  BlockedMergeReportDaily                NaN
4          dbo  BlockedMergeReportDaily                NaN

              column_name data_type  max_length  precision  scale is_nullable  \
0               create_dt  datetime           8         23      3          NO
1              message_id  nvarchar         510          0      0          NO
2         request_org_num  nvarchar         160          0      0         YES
3        request_org_name  nvarchar         160          0      0         YES
4  request_parent_org_num  nvarchar         160          0      0         YES

   column_default  is_primary_key  is_foreign_key referenced_schema  \
0             NaN               0               0               NaN
1             NaN               0               0               NaN
2             NaN               0               0               NaN
3             NaN               0               0               NaN
4             NaN               0               0               NaN

  referenced_table referenced_column  column_description
0              NaN               NaN                 NaN
1              NaN               NaN                 NaN
2              NaN               NaN                 NaN
3              NaN               NaN                 NaN
4              NaN               NaN                 NaN

Column info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5556 entries, 0 to 5555
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   table_schema        5556 non-null   object
 1   table_name          5556 non-null   object
 2   table_description   0 non-null      float64
 3   column_name         5556 non-null   object
 4   data_type           5556 non-null   object
 5   max_length          5556 non-null   int64
 6   precision           5556 non-null   int64
 7   scale               5556 non-null   int64
 8   is_nullable         5556 non-null   object
 9   column_default      0 non-null      float64
 10  is_primary_key      5556 non-null   int64
 11  is_foreign_key      5556 non-null   int64
 12  referenced_schema   67 non-null     object
 13  referenced_table    67 non-null     object
 14  referenced_column   67 non-null     object
 15  column_description  0 non-null      float64
dtypes: float64(3), int64(5), object(8)
memory usage: 694.6+ KB
None

In [14]:
# Choose one of these options:

# Option 1: Drop the columns entirely (remove them from the dataset)
test = test.drop(columns=['table_description', 'column_description'])

# Option 2: Drop rows that have missing values in these columns (uncomment to use)
# test = test.dropna(subset=['table_description', 'column_description'])

print(f"Dataset shape after dropping columns: {test.shape}")
print(f"Remaining columns: {list(test.columns)}")

Dataset shape after dropping columns: (5556, 14)
Remaining columns: ['table_schema', 'table_name', 'column_name', 'data_type', 'max_length', 'precision', 'scale', 'is_nullable', 'column_default', 'is_primary_key', 'is_foreign_key', 'referenced_schema', 'referenced_table', 'referenced_column']

In [15]:
# Write the DataFrame to a CSV file
output_file = "/Users/krahman/LLM-to-SQL-experiment/database_schema.csv"

# Write to CSV with proper formatting
test.to_csv(output_file, index=False)

print(f"Data successfully written to: {output_file}")
print(f"File contains {len(test)} rows and {len(test.columns)} columns")

Data successfully written to: /Users/krahman/LLM-to-SQL-experiment/database_schema.csv
File contains 5556 rows and 14 columns

In [16]:
import pandas as pd
SCHEMA_CSV_PATH = "/Users/krahman/LLM-to-SQL-experiment/database_schema.csv"

df = pd.read_csv(SCHEMA_CSV_PATH)
df.head()

,table_schema,table_name,column_name,data_type,max_length,precision,scale,is_nullable,column_default,is_primary_key,is_foreign_key,referenced_schema,referenced_table,referenced_column
0,dbo,BlockedMergeReportDaily,create_dt,datetime,8,23,3,NO,NaN,0,0,NaN,NaN,NaN
1,dbo,BlockedMergeReportDaily,message_id,nvarchar,510,0,0,NO,NaN,0,0,NaN,NaN,NaN
2,dbo,BlockedMergeReportDaily,request_org_num,nvarchar,160,0,0,YES,NaN,0,0,NaN,NaN,NaN
3,dbo,BlockedMergeReportDaily,request_org_name,nvarchar,160,0,0,YES,NaN,0,0,NaN,NaN,NaN
4,dbo,BlockedMergeReportDaily,request_parent_org_num,nvarchar,160,0,0,YES,NaN,0,0,NaN,NaN,NaN

In [26]:
import pandas as pd
import openpyxl
gcc_ticket = pd.read_excel("/Users/krahman/LLM-to-SQL-experiment/GCC_PSUP_Tickets.xlsx")

gcc_ticket.columns

Index(['Summary', 'Issue key', 'Priority', 'Description', 'Created',
       'Resolved', 'Custom field (Organizations)', 'Custom field (Product)',
       'Custom field (Ticket Category)'],
      dtype='object')

In [ ]:
# Filter for ONLY AT&T Wireline Support AND (Low OR Not Set priority)
filtered_data = gcc_ticket[
    (gcc_ticket['Custom field (Organizations)'] == 'AT&T Wireline Support') & 
    ((gcc_ticket['Priority'] == 'Low') | (gcc_ticket['Priority'] == 'Medium'))
]

print(f"Filtered data shape: {filtered_data.shape}")
print(f"Original data shape: {gcc_ticket.shape}")

# Save filtered data to CSV
filtered_data.to_csv("/Users/krahman/LLM-to-SQL-experiment/filtered_gcc_tickets_low_med.csv", index=False)
print("✅ Filtered data saved to: filtered_gcc_tickets.csv")

filtered_data.head()

Filtered data shape: (22, 9)
Original data shape: (1682, 9)
✅ Filtered data saved to: filtered_gcc_tickets.csv

,Summary,Issue key,Priority,Description,Created,Resolved,Custom field (Organizations),Custom field (Product),Custom field (Ticket Category)
24,ub_biller_feed - Pipeline Batch UB_20251107_EO...,GCC-42714,Not Set,"Hello,\n\nWe are opening this request to infor...",Nov/11/2025 12:05 PM,Nov/21/2025 11:14 AM,AT&T Wireline Support,Bill Analyst,Load/LEN
112,Processing Exception: ub_biller_feed - Pipelin...,GCC-42301,Not Set,This is a data issue - the “erate_calc_inv_dt”...,Oct/13/2025 11:40 AM,Oct/16/2025 11:31 AM,AT&T Wireline Support,Bill Analyst,Load/LEN
309,AOTS # 000000335568977 Issue with: Label. Cust...,GCC-41463,Low,"Hello Team,_x000D_\nThese are the Additional D...",Aug/05/2025 3:31 PM,Oct/02/2025 12:08 PM,AT&T Wireline Support,NaN,Instructional
365,AOTS # 000000335212615 Issue with: EID. Proces...,GCC-41261,Low,"Hello Team,_x000D_\nThese are the Additional D...",Jul/16/2025 4:13 PM,Aug/06/2025 2:59 PM,AT&T Wireline Support,Bill Analyst,Other
443,AOTS # 000000334664429 Issue with: Dashboard. ...,GCC-40979,Low,"Hello Team,_x000D_\nThese are the Additional D...",Jun/19/2025 3:17 PM,Jun/24/2025 4:31 PM,AT&T Wireline Support,Bill Analyst,Dashboard

In [28]:
import pandas as pd
t_acct_11122025 = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/t_acct_11122025.dat', sep='|', encoding='latin-1',on_bad_lines='warn')
t_acct_11122025.head()
582886
t_acct_11122025[t_acct_11122025['acct_id']==319]

      acct_id            num source_name      acct_type  organization_id
4193   582886  8310012527600         MNS  US,,R,UB,ubta          1032090

In [90]:

t_billed_11122025= pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/t_billed_11122025.dat', sep='|', encoding='latin-1',on_bad_lines='warn')
t_billed_11122025
t_billed_11122025[t_billed_11122025['billed_id']==29938]

Empty DataFrame
Columns: [billed_id, billed_amt, create_dt, billed_dt, due_dt, acct_id, currency_id, invoice_nbr]
Index: []

In [124]:
billed_dispute_11122025 = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/t_billed_dispute_11122025.dat', sep='|', encoding='latin-1',on_bad_lines='warn')
billed_dispute_11122025[billed_dispute_11122025['id']==35479]

Skipping line 443: expected 9 fields, saw 10
Skipping line 2494: expected 9 fields, saw 10
Skipping line 2676: expected 9 fields, saw 13
Skipping line 2798: expected 9 fields, saw 12
Skipping line 2840: expected 9 fields, saw 11
Skipping line 3040: expected 9 fields, saw 12
Skipping line 3041: expected 9 fields, saw 12
Skipping line 3141: expected 9 fields, saw 12
Skipping line 3145: expected 9 fields, saw 12
Skipping line 3146: expected 9 fields, saw 12
Skipping line 3281: expected 9 fields, saw 13
Skipping line 3385: expected 9 fields, saw 10
Skipping line 3537: expected 9 fields, saw 11
Skipping line 5511: expected 9 fields, saw 10
Skipping line 5516: expected 9 fields, saw 10
Skipping line 5682: expected 9 fields, saw 10
Skipping line 6667: expected 9 fields, saw 11
Skipping line 7402: expected 9 fields, saw 12
Skipping line 7774: expected 9 fields, saw 12
Skipping line 7915: expected 9 fields, saw 12
Skipping line 8089: expected 9 fields, saw 10
Skipping line 8311: expected 9 fields, saw 10
Skipping line 9719: expected 9 fields, saw 10

,id,status,reference_status,reference_number,create_date,amount,type,attachment_count,description
10426,35479,2,Pending,110425CMP86500UK,2025-11-03T16:21:21.466,584.7,2,NaN,"I been trying to contact my sales person to cancel Office at Hand, he has stopped answering emails and phone calls. I have also called 866-563-4703, and have been on hold for hours and with out any resolution. I want this serviced cancelled and installation refunded as we never received any service."

In [123]:
t_billed_dispute_conversation_11122025= pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/t_billed_dispute_conversation_11122025.dat', sep='|', encoding='latin-1',on_bad_lines='warn')
t_billed_dispute_conversation_11122025
t_billed_dispute_conversation_11122025[t_billed_dispute_conversation_11122025['billed_dispute_id'] ==35479]

,tc_id,billed_dispute_id,is_system,body,message_date,user_id,external_user_name
12769,80655,35479,1,Case created.,2025-11-04T16:33:33.239,2724302.0,NaN

In [122]:

t_billed_dispute_item_11122025 = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/t_billed_dispute_item_11122025.dat', sep='|', encoding='latin-1',on_bad_lines='warn')
t_billed_dispute_item_11122025.head()
t_billed_dispute_item_11122025[t_billed_dispute_item_11122025['id']==35479]

          id  billed_dispute_id  billed_id  amount  original_amount
10449  35479              35479   32928055   584.7            584.7

In [119]:

t_payment_11122025 = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/t_payment_11122025.dat', sep='|', encoding='latin-1',on_bad_lines='warn')
t_payment_11122025[t_payment_11122025['billed_id']==15590141]
#t_payment_11122025

Empty DataFrame
Columns: [payment_id, acct_id, billed_id, pay_amt, payment_dt, payment_type, currency_id, processing_date, processing_result, processing_result_msg]
Index: []

In [59]:


# Perform the join
joined_data = t_payment_11122025.merge(
    t_billed_dispute_item_11122025,
    on='billed_id',
    how='left'  
).merge(
    t_billed_dispute_conversation_11122025,
    on='billed_dispute_id',
    how='left'
).merge(
    billed_dispute_11122025,
    on='id',
    how='left'
).merge(
    t_billed_11122025,
    on='billed_id',
    how='left'
)
merged_data = joined_data.rename(columns={
    'acct_id_x': 'acct_id'
})

acct_id_in_payment_data = merged_data.merge(
    t_acct_11122025,
    on='acct_id',
    how='left'
)

acct_id_in_payment_data = acct_id_in_payment_data.merge(
    billed_dispute_11122025,
    on='id',
    how='left'
) 
acct_id_in_payment_data = acct_id_in_payment_data.merge(
   
t_billed_dispute_conversation_11122025,
    on='billed_dispute_id',
    how='left'
) 



acct_id_in_payment_data.to_csv('joined_dispute_data.csv', index=False)

In [117]:
# Set pandas display options to show all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# Load the joined dispute data
data = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/joined_dispute_data.csv')

# Filter for pay_amt > 0 AND amount_x is not NaN AND amount_x != original_amount

data[data['id'] == 27451]

Empty DataFrame
Columns: [payment_id, acct_id, billed_id, pay_amt, payment_dt, payment_type, currency_id_x, processing_date, processing_result, processing_result_msg, id, billed_dispute_id, amount_x, original_amount, tc_id_x, is_system_x, body_x, message_date_x, user_id_x, external_user_name_x, status_x, reference_status_x, reference_number_x, create_date_x, amount_y, type_x, attachment_count_x, description_x, billed_amt, create_dt, billed_dt, due_dt, acct_id_y, currency_id_y, invoice_nbr, num, source_name, acct_type, organization_id, status_y, reference_status_y, reference_number_y, create_date_y, amount, type_y, attachment_count_y, description_y, tc_id_y, is_system_y, body_y, message_date_y, user_id_y, external_user_name_y]
Index: []

In [94]:
# Clean up column names by removing _x and _y suffixes
# If both _x and _y exist, keep _x version and rename it without suffix

# Load the data first
data = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/joined_dispute_data.csv')

print("Original columns:")
print([col for col in data.columns if col.endswith('_x') or col.endswith('_y')])

# Get all column pairs that have both _x and _y versions
base_columns = set()
for col in data.columns:
    if col.endswith('_x'):
        base_name = col[:-2]  # Remove _x
        base_columns.add(base_name)
    elif col.endswith('_y'):
        base_name = col[:-2]  # Remove _y
        base_columns.add(base_name)

# Create column mapping
column_mapping = {}
columns_to_drop = []

for base_name in base_columns:
    x_col = f"{base_name}_x"
    y_col = f"{base_name}_y"
    
    if x_col in data.columns and y_col in data.columns:
        # Both exist - keep _x version, rename to base name, drop _y
        column_mapping[x_col] = base_name
        columns_to_drop.append(y_col)
        print(f"Keeping {x_col} -> {base_name}, dropping {y_col}")
    elif x_col in data.columns:
        # Only _x exists - rename to base name
        column_mapping[x_col] = base_name
        print(f"Renaming {x_col} -> {base_name}")
    elif y_col in data.columns:
        # Only _y exists - rename to base name
        column_mapping[y_col] = base_name
        print(f"Renaming {y_col} -> {base_name}")

# Apply the changes
data_cleaned = data.drop(columns=columns_to_drop)
data_cleaned = data_cleaned.rename(columns=column_mapping)

print(f"\nDropped {len(columns_to_drop)} columns: {columns_to_drop}")
print(f"Renamed {len(column_mapping)} columns")
print(f"Final dataset shape: {data_cleaned.shape}")

# Save the cleaned data
data_cleaned.to_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/joined_dispute_data_cleaned.csv', index=False)
print("✅ Cleaned data saved to: joined_dispute_data_cleaned.csv")

data_cleaned.columns

Original columns:
['currency_id_x', 'amount_x', 'tc_id_x', 'is_system_x', 'body_x', 'message_date_x', 'user_id_x', 'external_user_name_x', 'status_x', 'reference_status_x', 'reference_number_x', 'create_date_x', 'amount_y', 'type_x', 'attachment_count_x', 'description_x', 'acct_id_y', 'currency_id_y', 'status_y', 'reference_status_y', 'reference_number_y', 'create_date_y', 'type_y', 'attachment_count_y', 'description_y', 'tc_id_y', 'is_system_y', 'body_y', 'message_date_y', 'user_id_y', 'external_user_name_y']
Keeping amount_x -> amount, dropping amount_y
Keeping attachment_count_x -> attachment_count, dropping attachment_count_y
Keeping external_user_name_x -> external_user_name, dropping external_user_name_y
Keeping create_date_x -> create_date, dropping create_date_y
Keeping type_x -> type, dropping type_y
Keeping user_id_x -> user_id, dropping user_id_y
Renaming acct_id_y -> acct_id
Keeping currency_id_x -> currency_id, dropping currency_id_y
Keeping message_date_x -> message_date, dropping message_date_y
Keeping reference_status_x -> reference_status, dropping reference_status_y
Keeping is_system_x -> is_system, dropping is_system_y
Keeping reference_number_x -> reference_number, dropping reference_number_y
Keeping body_x -> body, dropping body_y
Keeping status_x -> status, dropping status_y
Keeping description_x -> description, dropping description_y
Keeping tc_id_x -> tc_id, dropping tc_id_y

Dropped 15 columns: ['amount_y', 'attachment_count_y', 'external_user_name_y', 'create_date_y', 'type_y', 'user_id_y', 'currency_id_y', 'message_date_y', 'reference_status_y', 'is_system_y', 'reference_number_y', 'body_y', 'status_y', 'description_y', 'tc_id_y']
Renamed 16 columns
Final dataset shape: (1715, 38)
✅ Cleaned data saved to: joined_dispute_data_cleaned.csv

Index(['payment_id', 'acct_id', 'billed_id', 'pay_amt', 'payment_dt',
       'payment_type', 'currency_id', 'processing_date', 'processing_result',
       'processing_result_msg', 'id', 'billed_dispute_id', 'amount',
       'original_amount', 'tc_id', 'is_system', 'body', 'message_date',
       'user_id', 'external_user_name', 'status', 'reference_status',
       'reference_number', 'create_date', 'type', 'attachment_count',
       'description', 'billed_amt', 'create_dt', 'billed_dt', 'due_dt',
       'acct_id', 'invoice_nbr', 'num', 'source_name', 'acct_type',
       'organization_id', 'amount'],
      dtype='object')

In [112]:
new_data = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/joined_dispute_data_cleaned.csv')
new_data[new_data['billed_dispute_id'] ==24839]

Empty DataFrame
Columns: [payment_id, acct_id, billed_id, pay_amt, payment_dt, payment_type, currency_id, processing_date, processing_result, processing_result_msg, id, billed_dispute_id, amount, original_amount, tc_id, is_system, body, message_date, user_id, external_user_name, status, reference_status, reference_number, create_date, type, attachment_count, description, billed_amt, create_dt, billed_dt, due_dt, acct_id.1, invoice_nbr, num, source_name, acct_type, organization_id, amount.1]
Index: []

ding, escalated>->Dispute Reasons & Approval Analysis
-Dispute Resolution Journey
-billed_dt to when the dispute date was first created-> get lead time
-dispute data on an org level aggregation 

deep dive into payment

In [131]:
# Optimized merge with specific column selection
# Step 1: Select only needed columns from each table to reduce memory and improve performance

# From billed_dispute: id, reference_status, amount, create_description, create_date
billed_dispute_selected = billed_dispute_11122025[['id', 'reference_status', 'amount', 'description', 'create_date']].copy()

# From billed_dispute_item: id, billed_id, amount, original_amount
billed_dispute_item_selected = t_billed_dispute_item_11122025[['id', 'billed_id', 'amount', 'original_amount']].copy()

# From billed_dispute_conversation: billed_dispute_id, body
# Note: billed_dispute_id in conversation = id in billed_dispute_item
conversation_selected = t_billed_dispute_conversation_11122025[['billed_dispute_id', 'body']].copy()

# From t_billed: billed_id, billed_amt, create_dt, billed_dt, due_dt
billed_selected = t_billed_11122025[['billed_id', 'billed_amt', 'create_dt', 'billed_dt', 'due_dt']].copy()

# From t_payment: acct_id, billed_id, pay_dt, pay_amt, processing_dt, processing_result_msg
payment_selected = t_payment_11122025[['acct_id', 'billed_id', 'payment_dt', 'pay_amt', 'processing_date', 'processing_result_msg']].copy()

print("✅ Selected columns from each table")
print(f"Billed dispute: {billed_dispute_selected.shape}")
print(f"Billed dispute item: {billed_dispute_item_selected.shape}")
print(f"Conversation: {conversation_selected.shape}")
print(f"Billed: {billed_selected.shape}")
print(f"Payment: {payment_selected.shape}")

✅ Selected columns from each table
Billed dispute: (10431, 5)
Billed dispute item: (10454, 4)
Conversation: (13114, 2)
Billed: (10114, 5)
Payment: (408, 6)

In [132]:
# Step 2: Perform structured merges following the data relationships

# Start with billed_dispute and merge with billed_dispute_item by 'id'
dispute_with_items = billed_dispute_selected.merge(
    billed_dispute_item_selected,
    on='id',
    how='inner',  # Only keep disputes that have items
    suffixes=('_dispute', '_item')
)

print(f"✅ Step 1: Dispute + Items = {dispute_with_items.shape}")

# Merge with conversation data using id from dispute_item = billed_dispute_id from conversation
dispute_with_conversation = dispute_with_items.merge(
    conversation_selected,
    left_on='id',  # id from billed_dispute/billed_dispute_item
    right_on='billed_dispute_id',  # billed_dispute_id from conversation
    how='left'  # Keep all disputes, even if no conversation
)

print(f"✅ Step 2: + Conversation = {dispute_with_conversation.shape}")

# Merge with t_billed using billed_id
dispute_with_billing = dispute_with_conversation.merge(
    billed_selected,
    on='billed_id',
    how='left',  # Keep all disputes, even if no billing info
    suffixes=('', '_billed')
)

print(f"✅ Step 3: + Billing = {dispute_with_billing.shape}")

# Finally merge with t_payment using billed_id
final_merged_data = dispute_with_billing.merge(
    payment_selected,
    on='billed_id',
    how='left',  # Keep all disputes, even if no payment info
    suffixes=('', '_payment')
)

print(f"✅ Final merge: {final_merged_data.shape}")
print(f"📊 Final columns: {list(final_merged_data.columns)}")

# Check for any duplicate columns that might need cleaning
duplicate_cols = [col for col in final_merged_data.columns if col.endswith('_dispute') or col.endswith('_item') or col.endswith('_billed') or col.endswith('_payment')]
if duplicate_cols:
    print(f"⚠️ Columns with suffixes to review: {duplicate_cols}")
    
final_merged_data.head(3)

✅ Step 1: Dispute + Items = (10430, 8)
✅ Step 2: + Conversation = (13097, 10)
✅ Step 3: + Billing = (13097, 14)
✅ Final merge: (13231, 19)
📊 Final columns: ['id', 'reference_status', 'amount_dispute', 'description', 'create_date', 'billed_id', 'amount_item', 'original_amount', 'billed_dispute_id', 'body', 'billed_amt', 'create_dt', 'billed_dt', 'due_dt', 'acct_id', 'payment_dt', 'pay_amt', 'processing_date', 'processing_result_msg']
⚠️ Columns with suffixes to review: ['amount_dispute', 'amount_item']

,id,reference_status,amount_dispute,description,create_date,billed_id,amount_item,original_amount,billed_dispute_id,body,billed_amt,create_dt,billed_dt,due_dt,acct_id,payment_dt,pay_amt,processing_date,processing_result_msg
0,27451,AT&T - Completed,NaN,Paperless billing request,2024-04-25T14:24:00.000,15590141,NaN,NaN,27451.0,Dispute imported from external,380.00,2024-04-24T17:08:14.000,2024-04-23T00:00:00.000,2024-05-23T00:00:00.000,NaN,NaN,NaN,NaN,NaN
1,29364,AT&T - Completed,NaN,"Hi team The account 8310004519631 isn't billing anymore and there is a final credit of 1,199.90 USD on it. Could you please help issue a refund check and send it to the billing address on the PDF invoice. Thank you United Technologies Corporation Attn TANGOE PO BOX 6236 PARSIPPANY NJ 07054",2024-04-25T08:28:00.000,15590291,NaN,NaN,29364.0,Dispute imported from external,-1199.90,2024-04-24T17:08:14.000,2024-04-23T00:00:00.000,2024-06-07T00:00:00.000,NaN,NaN,NaN,NaN,NaN
2,30270,AT&T - Completed,16407.98,"Please contract Christina Brown cb1481@att for contract. Don?t know the exact amount but I'm requesting AT&T review the contract and make the necessary adjustments (including regulator-other-fees-taxes) to the entire UVN ACCT 831-000-6165 408 which has 3 sub accts. Sub-Network A ( has two site ID that will split the total MRC and the IOC cost) the should be a total of $33686 which includes IOC $2000 (the Total IOC is $4000, $2000 to be applied to Sub-Network B and the other $2000 to Sub-Network A) Request Review- Dispute back to the 1st invoice where charges appeared Jun 23 (with eff date 4-24) Dispute July also. TOTAL UVN ALL SUB ACCTS PRETAX IS TO BE $65248",2023-07-25T18:49:00.000,11511551,16407.98,16407.98,30270.0,Dispute imported from external,219686.99,2023-07-24T16:04:48.000,2023-07-23T00:00:00.000,2023-08-22T00:00:00.000,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Step 3: Clean up column names and handle any conflicts

print("🔧 Cleaning up column names...")
print(f"Original columns: {len(final_merged_data.columns)}")

# Handle amount columns - we have amount_dispute and amount_item
# Let's rename them for clarity


# Save the final cleaned and structured dataset
output_path = '/Users/krahman/LLM-to-SQL-experiment/data/dispute/structured_dispute_data.csv'
final_merged_data.to_csv(output_path, index=False)

print(f"\n✅ Saved structured dispute data to: {output_path}")
print(f"📊 Final dataset: {final_merged_data.shape}")
print(f"📋 Final columns: {list(final_merged_data.columns)}")

# Display sample of key columns

🔧 Cleaning up column names...
Original columns: 19

✅ Saved structured dispute data to: /Users/krahman/LLM-to-SQL-experiment/data/dispute/structured_dispute_data.csv
📊 Final dataset: (13231, 19)
📋 Final columns: ['id', 'reference_status', 'amount_dispute', 'description', 'create_date', 'billed_id', 'amount_item', 'original_amount', 'billed_dispute_id', 'body', 'billed_amt', 'create_dt', 'billed_dt', 'due_dt', 'acct_id', 'payment_dt', 'pay_amt', 'processing_date', 'processing_result_msg']

📝 Sample data (key columns):
      id  reference_status  original_amount  billed_id  billed_amt  pay_amt  \
0  27451  AT&T - Completed              NaN   15590141      380.00      NaN
1  29364  AT&T - Completed              NaN   15590291    -1199.90      NaN
2  30270  AT&T - Completed         16407.98   11511551   219686.99      NaN
3  29892   AT&T - Received              NaN   16039605      195.00      NaN
4  31131          Rejected           354.02   19238968      354.02      NaN

                             body
0  Dispute imported from external
1  Dispute imported from external
2  Dispute imported from external
3  Dispute imported from external
4                   Case created.

## Data Merge Summary

**Tables merged in order:**
1. **billed_dispute** ↔ **billed_dispute_item** (by `id`)
2. **+ billed_dispute_conversation** (by `id` = `billed_dispute_id`)  
3. **+ t_billed** (by `billed_id`)
4. **+ t_payment** (by `billed_id`)

**Selected columns:**
- **billed_dispute**: `id`, `reference_status`, `amount` → `dispute_amount`, `create_description`, `create_date`
- **billed_dispute_item**: `id`, `billed_id`, `amount` → `item_amount`, `original_amount`
- **billed_dispute_conversation**: `body` (conversation text)
- **t_billed**: `billed_id`, `billed_amt`, `create_dt`, `billed_dt`, `due_dt`
- **t_payment**: `acct_id`, `billed_id`, `pay_dt`, `pay_amt`, `processing_dt`, `processing_result_msg`

This structured approach creates a clean dataset ready for dashboard integration!

In [134]:
# Merge structured dispute data with account table to get organization IDs
structured_disputes = pd.read_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/structured_dispute_data.csv')

# Check available columns
print("Account table columns:", list(t_acct_11122025.columns))
print("Sample account data:")
print(t_acct_11122025.head())

Account table columns: ['acct_id', 'num', 'source_name', 'acct_type', 'organization_id']
Sample account data:
   acct_id            num source_name      acct_type  organization_id
0   100072  1717890294026         ABN  US,,R,UB,ubta            56148
1   100098  1717890724570         ABN  US,,R,UB,ubta           629436
2  1001458    10012780960      OneNet      ,,,,hebfi            56148
3  1001821    18000000184      OneNet      ,,,,hebfi            56148
4  1001827    18000000861      OneNet      ,,,,hebfi           230775

In [135]:
# Merge dispute data with account table to get organization_id
disputes_with_org = structured_disputes.merge(
    t_acct_11122025[['acct_id', 'organization_id']], 
    on='acct_id', 
    how='left'
)

print(f"Before merge: {structured_disputes.shape}")
print(f"After merge: {disputes_with_org.shape}")
print(f"Unique organizations: {disputes_with_org['organization_id'].nunique()}")

# Save with organization IDs
disputes_with_org.to_csv('/Users/krahman/LLM-to-SQL-experiment/data/dispute/disputes_with_org_id.csv', index=False)
print("✅ Saved disputes with organization IDs")

Before merge: (13231, 19)
After merge: (13231, 20)
Unique organizations: 279
✅ Saved disputes with organization IDs

In [ ]:
# Check top organizations by dispute volume for dashboard dropdown
org_summary = disputes_with_org.groupby('organization_id').size().sort_values(ascending=False)
print("Top 10 organizations by dispute volume:")
print(org_summary.head(10))